main{
    margin-bottom: 2.5rem;
}

.title_container{
    display: flex;
    flex-direction: column;
    text-align: center;

    border-radius: 0.5rem 0.5rem 0 0 ;
    gap: 1.25rem;
    padding: 2.62rem 1.38rem 0 1.38rem;

    background-color: var(--gray-3);

    h1 {
        animation: grow 1s ease ;
    }
    p{
        animation: grow 1s ease ;
    }
}

@keyframes grow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}