.card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--gray-4);
  border-radius: 0.2rem;
  padding: 1rem;
  transition: 0.5s;

  &:has(button:focus){
    background-color: var(--gray-2);
  }

  &:has(.edit:hover){
    border: 1px solid #3FE864;
  }

  &:has(.delete:hover){
    border: 1px solid #E83F5B;
  }

  .containerIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    div{
      display: flex;
      gap: 1rem;
    }
  }
}

@keyframes fade-in-down {
	0% {
		opacity: 0;
		transform: translateY(-1.25rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.icons {
  color: var(--white);
  font-size: 1.25rem;
}

.icons:hover {
  background-color: transparent;
}

@media (max-width: 32.5rem) {
  .card {
    align-items: baseline;
    flex-direction: column;

    .containerIcons {
      width: 100%;
      justify-content: space-between;
    }
  }
}
