header{
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            animation: bounce-in-right 1s ease;
        }
    }

    @keyframes bounce-in-right {
        0% {
            opacity: 0;
            transform: translateX(-125rem);
        }
        60% {
            opacity: 1;
            transform: translateX(1.875rem);
        }
        80% {
            transform: translateX(0.625rem);
        }
        100% {
            transform: translateX(0);
        }
    }
}