:root{
    --color-primary:#FF577F;
    --color-primary-focus:#FF427F;
    --color-primary-neagtive:#59323F;
    --white:#fff;
    --gray-0:#F8F9FA;
    --gray-1:#868E96;
    --gray-2:#343B41;
    --gray-3:#212529;
    --gray-4:#121214;
    --sucess:#3FE864;
    --Negative:#E83F5B;

    --font-primary:"Inter", sans-serif;
}